* {
    margin: 0;
    padding: 0;
}

.item1 {
    grid-area: header;
}

.item2 {
    grid-area: menu;
}
.item3 {
    grid-area: main;
}
.item4 {
    grid-area: right;
}
.item5 {
    grid-area: footer;
}

.grid_container {
    display: grid;
    grid-template-areas: 
    'header header header header'
    'main main menu right'
    'footer footer footer footer'
    ;
    gap: 10px;
    
    
    
    
    background-color:midnightblue;
    padding: 10px;
}

.grid_container > div {
    background-color: green;
    text-align: center;
    color: azure;
    border: 1px black solid;
    padding: 20px 0;
    font-size: 30px;
    height: 400px;
}